@font-face {
    src: url("../font/RetroGaming.ttf");
}

.root {
    -fx-background-image: url("../image/GameBackground.png");
    -fx-background-size: 100%;
}

.score {
    -fx-font-family: 'Retro Gaming';
    -fx-font-size: 22px;
}