@font-face {
    src: url("../font/RetroGaming.ttf");
}

.root {
    -fx-font-family: 'Retro Gaming';
    -fx-background-color: black;
}

.title {
    -fx-font-size: 40px;
}

.mode__title {
    -fx-font-size: 18px;
}

.mode_content {
    -fx-font-size: 15px;
}