.root {
    -fx-background-image: url("../image/HomeBackground.png");
    -fx-background-size: 100%;
}

.menu {
    -fx-alignment: center;
}

.menu__item {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background-size: 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 80px;
    -fx-effect: dropshadow(three-pass-box, #444444, 15, 0, 0, 0);
    -fx-opacity: 0.85;
}

.menu__item:hover {
    -fx-background-size: 95%;
    -fx-opacity: 1;
}

.menu__item--start {
    -fx-background-image: url("../image/home/startbtn.png");
}

.menu__item--scoreboard {
    -fx-background-image: url("../image/home/scoreboardbtn.png");
}

.menu__item--exit {
    -fx-background-image: url("../image/home/exitbtn.png");
}