@font-face {
    src: url("../font/RetroGaming.ttf");
}

.root {
    -fx-font-family: 'Retro Gaming';
    -fx-background-color: black;
}

.title {
    -fx-font-size: 30px;
}

.list-view {
    -fx-background-color: black;
}

.list-view .list-cell {
    -fx-background-color: black;
    -fx-font-size: 20px;
}

.list-view .list-cell:odd {
    -fx-text-fill: green;
}

.list-view .list-cell:even {
    -fx-text-fill: red;
}

.rank .list-cell {
    -fx-alignment: center-left;
}

.name .list-cell {
    -fx-alignment: center;
}

.score .list-cell {
    -fx-alignment: center-right;
}