@font-face {
    src: url("../font/joystixmonospace.ttf");
}

.root {
    -fx-font-family: 'Joystix Monospace';
    -fx-background-color: black;
}

.title {
    -fx-font-size: 30px;
}

.list-view {
    -fx-background-color: black;
}

.list-view .list-cell {
    -fx-background-color: black;
    -fx-font-size: 20px;
}

.list-view .list-cell:odd {
    -fx-text-fill: #ffab00;
}

.list-view .list-cell:even {
    -fx-text-fill: #e600ff;
}

.rank .list-cell {
    -fx-alignment: center-left;
}

.name .list-cell {
    -fx-alignment: center;
}

.score .list-cell {
    -fx-alignment: center-right;
}